[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
torch = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
python-binance = "*"
ta-lib = "*"
okx = {git = "git+https://github.com/hlf20010508/okx.git"}

[dev-packages]
